@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
	line-height: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
	font-family: 'Quicksand', sans-serif;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

:root {
    --headerColors: rgb(137, 0, 0);
    --textColor: rgb(46, 46, 46);
}

h1 {
    color: var(--headerColors);
}

h3{
	color: var(--headerColors);
}

.bio {
	max-width: 500px;
}

ol {
    margin-left: 50px;
}