@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
	line-height: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
	font-family: 'Quicksand', sans-serif;
	background-color:#131313;
	color: var(--textColor);
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

:root {
    --headerColors: rgb(255, 0, 0);
    --textColor: rgb(255, 255, 255);
}

h1 {
    color: var(--headerColors);
	font-weight: bolder;
}

h3{
	color: var(--headerColors);
	font-weight: bold;
}

.bio {
	max-width: 500px;
}
p {
	line-height: 28px;
}

.quizBtn {
	border: none;
	cursor: pointer;
	height: 30px;
	background-color: var(--headerColors);
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	border-radius: 8px;
	padding: 0 15px 0 15px;
}

.quizBtn:hover{
	filter: brightness(1.15);
}

.quizBtn:active{
	transform: scale(97%);
}

li {
	margin-top: 10px;
}